body {
  background-color: rgba(255, 255, 255, 0.331);
  overflow-x: hidden;
}

.wrapper-table {
  margin-left: auto;
  margin-right: 140px;
}

.table {
  text-align: center;
}

tbody {
  overflow: auto;
}
